<div role="region" aria-label="{{ 'Web Interface Settings'|t }}"
  class="flc-prefsEditor-separatedPanel fl-prefsEditor-separatedPanel">
  <!-- This is the div that will contain the Preference Editor component. -->
  <div class="flc-slidingPanel-panel flc-prefsEditor-iframe"></div>
  <!-- This div is for the sliding panel that shows and hides the Preference Editor controls. -->
  <div class="fl-panelBar">
    <span class="fl-prefsEditor-buttons">
      <button id="reset" class="flc-prefsEditor-reset fl-prefsEditor-reset"><span class="fl-icon-undo"></span> {{
        'Reset'|t }}</button>
      <button id="show-hide" class="flc-slidingPanel-toggleButton fl-prefsEditor-showHide" aria-expanded="false"
        aria-label="Show or hide preference editor panel">
        {{ 'Show/Hide'|t }}
      </button>
    </span>
  </div>
</div>
<nav role="navigation" aria-label="{{ 'Table Of Contents'|t }}" class="flc-toc-tocContainer"></nav>